
/*  Pseudo elements/selectors 
    Adding a color pallet that is not in HTML 
    */

:root{
    --white: #FFFFFF;
    --alabaster_grey: #E5E5E5;
    --orange: #e58e02;
    --prussian_blue: #14213D;
    --black: #000000;

/*  Custom properties  */
    --font-main: 3.8rem;
}

/*  We use 62.5% for HTML and 16px for body to allow writing code in REM
    in a way that is easier and better adaptable to browsers, screens, and other devices.
*/
html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem = 10px */
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.title{
    text-align: center;
    font-size: var(--font-main);
}

.title span{
    font-size: 2rem;
}


/* Setting for Nav Bar */
.container{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--prussian_blue);
}

.main-navegation{
    display: flex;
    flex-direction: column;
    
}
@media (min-width: 768px){
    .main-navegation{
        flex-direction: row;
        justify-content:space-between;
    }
}

/* Media Querie for a phone
@media (min-width: 480){ 
}

Media Querie for a tablet
@media (min-width: 768px){
}

Media Querie for a Laptop or PC 
@media (min-width: 1140px){
}

Media Querie for a SmartTV
@media (min-width: 1400px){
}*/



.main-navegation a{
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.main-navegation a:hover{
    background-color: var(--orange);
    color: var(--prussian_blue);
} 

/* Adding Media Queries settings for different devices */
@media (min-width: 480px){
    h1{

    }
}

@media (min-width: 768px){
    h1{

    }
}