
/*  Pseudo elements/selectors 
    Adding a color pallet that is not in HTML 
    */

:root{
    --white: #FFFFFF;
    --alabaster_grey: #E5E5E5;
    --orange: #e58e02;
    --prussian_blue: #14213D;
    --black: #000000;

/*  Custom properties  */
    --font-main: 3.8rem;
}

/*  We use 62.5% for HTML and 16px for body to allow writing code in REM
    in a way that is easier and better adaptable to browsers, screens, and other devices.
*/
html{
    font-size: 62.5%;
    box-sizing:border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 16px; /* 1rem = 10px */
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

h1{
    font-size: var(--font-main);
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1, h2, h3{
    text-align: center;
}

.title span{
    font-size: 2rem;
}


/* Setting for Nav Bar */
.container{
    max-width: 120rem;
    margin: 0 auto;
}

.button{
    background-color: var(--orange);
    color: var(--white);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.35rem;
    width: 90%;
    text-align: center;
}
@media (min-width: 768px){
    .button{
        width: auto;
    }
}

.nav-bg{
    background-color: var(--prussian_blue);
}

.main-navegation{
    display: flex;
    flex-direction: column;
    
}
@media (min-width: 768px){
    .main-navegation{
        flex-direction: row;
        justify-content:space-between;
    }
}

/* Media Querie for a phone
@media (min-width: 480){ 
}

Media Querie for a tablet
@media (min-width: 768px){
}

Media Querie for a Laptop or PC 
@media (min-width: 1140px){
}

Media Querie for a SmartTV
@media (min-width: 1400px){
}*/



.main-navegation a{
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.main-navegation a:hover{
    background-color: var(--orange);
    color: var(--prussian_blue);
} 

/* Hero Section */
.hero{
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}

.hero-content{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); 
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content h2,
.hero-content p{
    color: var(--white);
}

.location{
    display: flex;
    align-items: center;
}