
/*  Utilizamos 62.5% para html y 16px para body para permitir escribir código en REM 
    de una forma más fácil y que se pueda adaptar mejor a navegadores, pantallas u otros dispositivos.
*/
html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem = 10px */
}

.title{
    text-align: center;
    font-size: 3.8rem;
}

.title span{
    font-size: 2rem;
}