:root{
    --font-main: 3.8rem;
    --alabaster_grey: #E5E5E5;
    --grey-secundary: #DFE9F3;
}

html{
    font-size: 62.5%;
    box-sizing:border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    background: #152331;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;

    background: linear-gradient(to bottom, #070707, #0a0a0a);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 192, 1);
}

label{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#Note{
    color: #000000;
}

/* 🔥 SOLUCIÓN AL PROBLEMA */
.note-card {
    background-color: #ffffff;
    color: #000000;
}