:root{

/*  Custom properties  */
    --font-main: 3.8rem;
}

html{
    font-size: 62.5%;
    box-sizing:border-box;
    scroll-snap-type: y mandatory;
}

body{
    font-size: 16px; /* 1rem = 10px */
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    background-image: linear-gradient(to top, var(--grey-secundary) 0%, var(--alabaster_grey) 100%);
}

*, *:before, *:after{
    box-sizing: inherit;
}

.title span{
    font-size: 3rem;
}

nav{
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: var(--font-main);
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}